* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
#wrapper {
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    width: auto;
    height: auto;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
#wrapper.ng-hide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: block !important;
}

#info {
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.25);
    position: absolute;
    left: 0;
    top: 30%;
     p {
        color: #fff;
        font-weight: 200;
        span.degrees {
            font-size: 13em;
            font-weight: 100;
        }
    }
}